#root {
    text-align: center;
    
}
#result {
    text-decoration: solid;
    text-decoration:double;
    font-size: x-large;
    background-color: aquamarine;
    padding:25px
}
button {
    background-color: rgb(224, 200, 200);
}
footer {
    text-align: center;
}