#root {
  text-align: center;
}
#result {
  text-decoration: solid;
  text-decoration: double;
  font-size: x-large;
  background-color: aquamarine;
  padding: 25px;
}
button#calc-btn {
  background-color: rgb(254, 153, 237);
  border-radius: 8px;
  border: 2px solid #00040a;
  font-size: 20px;
  padding: 14px 40px;
  margin: 25px;
}

#calc-btn:hover {
  background-color: #cf55c2;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

h3 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h3 span {
  background: #fff;
  color: aquamarine;
  -webkit-text-stroke: 1px black;
  padding: 0 10px;
}
